body {
    background-color: #F2F5F7;
}

header {
    position : sticky;
    top : 0;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 0 0 7px 0 #e2e5e7;
}

article {
    background-color: #FFFFFF;
    padding: 15px 15px 20px 15px;
    border-radius: 15px;
    margin : 0 0 20px 0;
    box-shadow: 0 5px 5px 5px #e2e5e7;
}

article > div > * {
    display: inline-block;
}

ul {
    list-style: inside url("../images/bullet.png");
}