body {
    background-color: #F2F5F7;
}

header {
    background-color: #FFFFFF;
}

article {
    background-color: #FFFFFF;
    padding: 15px 15px 20px 15px;
    border-radius: 15px;
}

article > div > * {
    display: inline-block;
}

ul {
    list-style: inside url("../images/bullet.png");
}